<!DOCTYPE html>
<html>
<head>
  <title>Addition</title>
</head>
<body>
  <h1>Addition</h1>
  <form action="/wizard_add" method="get">
    <label for="first_num">Add this:</label>
    <input type="text" id="first_num" name="first_num" required>

    <label for="second_num">to this:</label>
    <input type="text" id="second_num" name="second_num" required>

    <button type="submit">Add!</button>
  </form>
</body>
</html>
