<!DOCTYPE html>
<html>
<head>
  <title>Subtraction</title>
</head>
<body>
  <h1>Subtraction</h1>
  <form action="/wizard_subtract" method="get">
    <label for="first_num">Subtract this:</label>
    <input type="text" id="first_num" name="first_num" required>

    <label for="second_num">from this:</label>
    <input type="text" id="second_num" name="second_num" required>

    <button type="submit">Subtract!</button>
  </form>
</body>
</html>
